.btn {
    border-radius: 0;
    padding: 14px 38px;
    top:-40px;
}

.btn-brand1 {
    color: #fff;
    font-weight: 500;
    border-color: #005e54;
    background-color: #12c2b9;
    top:-40px;
}

.btn-brand1:hover {
    border-color:  #12c2b9;
    background-color: #ffffff;
    color: #fff;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

  .slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/logodesign.png);
  }
  .slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/underprevi.jpg);
  }
  .slide-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/graph.jpg);
  }
  .slide-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/loan.jpg);
  }
  .slide-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/underprevi2.jpg);
  }

#heroSlider h6::after,
#heroSlider h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}
